xsd/ejercicios/ejercicio 2/ejercicio 2.2/loteria.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="loteria">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serie" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:integer"/>
                        <xs:attribute name="numero"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>