xsd/ejercicios/ejercicio 1/ejercicio 1.1/nombre.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:element name="nombre">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="apellido" type="xs:string"/>
            <xs:element name="edad" type="xs:string"/>
            <xs:element name="añoNacimiento" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>